/*Importación de fuentes*/

@font-face {
  font-family: "outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400, 600, 700;
  font-style: normal;
}

@font-face {
  font-family: "young-serif";
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

/*Reset Inicial*/
/*El modelo de caja moderno comienza en la raíz*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

/*Heredan del modelo de caja todos los elementos*/

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Ajustes generales del body*/

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: white;
  color: black;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Imágenes y medios fluidos*/

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Formularios sin estilos raros*/

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/*Enlaces sin subrayado ni color azul*/

a {
  text-decoration: none;
  color: inherit;
}

/* Listas sin bullets*/

ul,
ol {
  list-style: none;
}

/*tablas limpias*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Bloque de Variables*/

:root {
  --color-bg-card-white: hsl(0, 0%, 100%);

  --color-bg-main-stone-100: hsl(30, 54%, 90%);
  --color-hr-Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --color-title-h1-stone-900: hsl(24, 5%, 18%);
  --color-title-h2-brown-800: hsl(14, 45%, 36%);
  --color-subtitle-h2-rose-800: hsl(332, 51%, 32%);
  --color-second-bg-card-Rose-50: hsl(330, 100%, 98%);
  --ff-heading: "young-serif", serif;
  --ff-body: "Outfit", sans-serif;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xlg: 1.5rem;
  --spacing-xxlg: 2rem;
  --box-shadow-card: 0 4px 8px rgba(0, 0, 0, 0.05);
}

/* styles Main Container*/
.recipe-card__main-container {
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  background-color: var(--color-bg-main-stone-100);
}

/*Estilos de la recipe-card*/
.recipe-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 43.75rem;
  min-width: 20rem;
  padding: var(--spacing-xxlg);
  background-color: var(--color-bg-card-white);
  border-radius: var(--spacing-lg);
  box-shadow: var(--box-shadow-card);
}

/*Estilos de la imagen y el figcaption*/

.recipe-card__image {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: var(--spacing-lg);
  border-top-right-radius: var(--spacing-lg);
  border-bottom-left-radius: var(--spacing-sm);
  border-bottom-right-radius: var(--spacing-sm);
  margin-bottom: var(--spacing-lg);
}
.recipe-card__image-caption {
  position: absolute;
  width: 100%;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/*Estilos del header: Titulo y descripción*/
.recipe-card__title {
  font-family: var(--ff-heading), sans-serif;
  font-weight: 400;
  font-size: clamp(2rem, 1.946rem + 0.268vw, 2.188rem);
  margin-bottom: 0.5rem;
  color: var(--color-title-h1-stone-900);
}

.recipe-card__description {
  font-family: var(--ff-body), sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  color: var(--Stone-600);
  line-height: var(--spacing-lg);
  margin-bottom: var(--spacing-xlg);
}

/*Estilo de la section Preparation time*/

.recipe-card__preparation-time {
  background-color: var(--color-second-bg-card-Rose-50);
  padding: var(--spacing-xlg);
  border-radius: 0.75rem;
  font-family: var(--ff-body), sans-serif;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  margin-bottom: var(--spacing-xlg);
}

.recipe-card__preparation-time-title {
  font-weight: 700;
  color: var(--color-subtitle-h2-rose-800);
  margin-bottom: 0.75rem;
}

.recipe-card__list-times {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: 0;
  padding-left: var(--spacing-xxlg);
  color: var(--color-title-h1-stone-900);
  list-style: disc;
}

.recipe-card__item::marker {
  color: var(--color-subtitle-h2-rose-800);
}

.recipe-card__item strong {
  margin-left: var(--spacing-md);
  font-weight: 700;
  color: var(--color-title-h1-stone-900);
}

/*Estilos de la seccion de ingredientes*/

.recipe-card__ingredients {
  margin-bottom: 2rem;
}

.recipe-card__ingredients-title {
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: clamp(1.25rem, 1.143rem + 0.536vw, 1.625rem);
  color: var(--color-title-h2-brown-800);
  margin-bottom: var(--spacing-lg);
}

.recipe-card__list-ingredients {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-top: 0;
  padding-left: var(--spacing-xxlg);
  color: var(--Stone-600);
  list-style: disc;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
}

.recipe-card__list-item {
  font-family: var(--ff-body);
  text-indent: 1.5rem;
  font-weight: 400;
}
.recipe-card__list-item::marker {
  color: var(--color-title-h2-brown-800);
}

.recipe-card__separator {
  height: 0.5px;
  border: none;
  color: var(--color-hr-Stone-150);
  background-color: var(--color-hr-Stone-150);
}

/* Estilos de la section de Instrucciones*/

.recipe-card__instructions {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.recipe-card__instructions-title {
  font-family: var(--ff-heading), sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.143rem + 0.536vw, 1.625rem);
  color: var(--color-title-h2-brown-800);
  margin-bottom: var(--spacing-lg);
}

.recipe-card__instructions-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding-left: var(--spacing-xxlg);
}

.recipe-card__step {
  font-family: var(--ff-body), sans-serif;
  color: var(--Stone-600);
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  font-weight: 400;
  list-style: decimal;
}

.recipe-card__step::marker {
  color: var(--color-title-h2-brown-800);
  font-weight: 600;
}

.recipe-card__step-description {
  margin-left: 1rem;
  line-height: 1.35rem;
}

/*Estilos seccion nutricion*/

.recipe-card__nutrition-title {
  font-family: var(--ff-heading), sans-serif;
  font-weight: 700;
  font-size: clamp(1.25rem, 1.143rem + 0.536vw, 1.625rem);
  color: var(--color-title-h2-brown-800);
  margin-bottom: var(--spacing-lg);
}

.recipe-card__nutrition-table-caption {
  font-family: var(--ff-body), sans-serif;
  font-size: clamp(0.75rem, 0.679rem + 0.357vw, 1rem);
  font-weight: 400;
  color: var(--Stone-600);
  text-align: left;
  margin-bottom: var(--spacing-md);
}

/*Estilos de la tabla de nutrición*/

.recipe-card__nutrition-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.recipe-card__nutrition-table-body tr {
  border-bottom: 1px solid var(--color-hr-Stone-150);
}

.recipe-card__nutrition-table-body tr:last-child {
  border-bottom: none;
}

.recipe-card__nutrition-table th,
.recipe-card__nutrition-table td {
  font-size: clamp(0.875rem, 0.804rem + 0.357vw, 1.125rem);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: left;
}

.recipe-card__nutrition-table th {
  font-family: var(--ff-body), sans-serif;
  font-weight: 400;
  color: var(--Stone-600);
}

.recipe-card__nutrition-table td {
  font-family: var(--ff-body), sans-serif;
  font-weight: 700;
  color: var(--color-title-h2-brown-800);
}

/*
    Título:

        Young Serif, 1.5rem, --brown-800

    Texto descripción:

        Outfit, regular, 1rem

    Tabla:

        Border-top: 1px solid var(--stone-150)

        Filas tipo grid o table-layout: fixed

        Primer columna: Outfit 400, color --stone-600

        Segunda columna (valores): Outfit 700, --brown-800

        Padding vertical: 0.75rem (12px)

        Línea divisoria: border-bottom: 1px solid var(--stone-150) excepto última fila



*/
